/*Set background color and font*/
body {
	/*background-color: #e0ebaf; */
	text-align: center;
	color: #007b43; 
	font-family: Arial,Helvetica,sans-serif;	
}

/*Sets the content area*/
div.contentArea {
	width: 1000px;	
	text-align: center;
	margin: auto;
	margin-top: 50px
}


div.buttonArea {		
	text-align: center;
	margin: auto;
	margin-top: 10px;
	clear: both;
}

input:focus, input:hover {
	border: thin solid #007b43;	
}

input {
	border: thin dotted #007b43;
	color: #007b43;
	width: 80px;
}

table { 
	border-collapse: collapse;
	margin: auto; 
	text-align: left;
}

table td, th { 
	border-bottom: thin dotted #007b43;
	padding: 5px; 
	}

table caption { 
	color: #E6B422;	
	margin: 20px; 
    font-size: 14pt;
}

div.header, div.footer{
	margin: auto;
	min-width: 1000px;
	min-height: 50px;
    height: auto;
    height: 20px; 
	background: #007b43;
	text-align: center;
	clear: both;
}

input.button {
	width: 330px;		
}

#getResults {
	color: #E6B422;
	font-weight: bold;	
}

#getResults:hover {
	color: #007b43;
}
/*
³£ÅÍÉ« 
#007b43


*/
