/*Set background color and font*/
body {
	/*background-color: #e0ebaf; */
	text-align: center;
	color: #007b43; 
	font-family: Arial,Helvetica,sans-serif;	
}

/*Sets the content area*/
div.contentArea {
	min-width: 800px;
	max-width: 800px;
	text-align: center;
	margin: auto;
	margin-top: 50px
}


div.buttonArea {		
	text-align: center;
	margin: auto;
	margin-top: 10px;
	clear: both;
}

input:focus, input:hover {
	border: thin solid #007b43;	
}

input {
	border: thin dotted #007b43;
	color: #007b43;
	width: 65px;
}

table {
	width: 800px;
	border-collapse: collapse;
	margin: auto; 		
}

table td, th {	
	border-bottom: thin solid #007b43;
	padding: 5px; 
	text-align: left;
}

table th {	
	color: #E6B422;
}

table.resultTable th {
	text-align: center;
}

table.summaryTable th {
	text-align: left;
}

#overview {
	min-width: 600px;
	max-width: 600px;
	margin: auto;
}

/*
table caption { 
	color: #E6B422;	
	margin: 20px; 
    font-size: 14pt;
}
*/

div.header, div.footer{
	margin: auto;
	min-width: 800px;
	min-height: 50px;
    height: auto;
    height: 20px; 
	background: #007b43;
	text-align: center;
	clear: both;
}

a {
	color: #007b43;
	text-decoration: none;
}

a:hover {
	text-decoration: overline;	
}

input.button {
	width: 400px;		
}

#getResults {
	color: #E6B422;
	font-weight: bold;	
}

#getResults:hover {
	color: #007b43;
}

#info {
	color: #E6B422;
	font-size: 14pt;
}



/*
³£ÅÍÉ« 
#007b43


*/
